
*.config
.vs/Mantenimiento/config/applicationhost.config
.vs/Mantenimiento/v16/.suo
.vs/Mantenimiento/v16/Server/sqlite3/db.lock
.vs/Mantenimiento/v16/Server/sqlite3/storage.ide
Template.BusinessLayer/bin/Debug/Mantenimiento.BusinessLayer.dll
Template.BusinessLayer/bin/Debug/Mantenimiento.BusinessLayer.pdb
Template.BusinessLayer/bin/Debug/Mantenimiento.DataAccess.dll
Template.BusinessLayer/bin/Debug/Mantenimiento.DataAccess.pdb
Template.BusinessLayer/bin/Debug/Mantenimiento.Entities.dll
Template.BusinessLayer/bin/Debug/Mantenimiento.Entities.pdb
Template.BusinessLayer/bin/Debug/Template.Utility.dll
Template.BusinessLayer/bin/Debug/Template.Utility.pdb
Template.BusinessLayer/bin/Release/Mantenimiento.BusinessLayer.dll
Template.BusinessLayer/bin/Release/Mantenimiento.BusinessLayer.pdb
Template.BusinessLayer/bin/Release/Mantenimiento.DataAccess.dll
Template.BusinessLayer/bin/Release/Mantenimiento.DataAccess.pdb
Template.BusinessLayer/bin/Release/Mantenimiento.Entities.dll
Template.BusinessLayer/bin/Release/Mantenimiento.Entities.pdb
Template.BusinessLayer/bin/Release/Template.Utility.dll
Template.BusinessLayer/bin/Release/Template.Utility.pdb
*.dll
*.pdb
*.lock
*.dll
*.txt
*.datasource
