@using Mantenimiento.WebApp.Helpers;

@{
    ViewBag.Navigation = "Sistemas";
    ViewBag.Title = "Sistemas Mantenimiento";
    var UsuarioActual = DataSession.UserLoggedIn;
}


<!-- .row -->
    <div class="col-sm-12" id="app">
        <div class="col-sm-12">
            <div class="form-horizontal">


                <div class="col-md-12">
                    <label id="lblEstadoC" class="hidden">0</label>
                    <span id="spaEstadoD" class="label label-info"></span>
                </div>

                <br>
                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form class="form-horizontal new-lg-form" id="frmSistemas">

                            <div class="col-md-2 col-sm-12 col-xs-6">
                                <label>Codigo Sistema:</label>
                            </div>
                            <div class="col-md-1 col-sm-12 col-xs-6">
                                <label id="lblCodSistema"></label>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12">
                                <label>Nombre Sistema:</label>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <input id="txtDescSistema" type="text" class="form-control" required> <span class="highlight"></span> <span class="bar"></span>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <br><br>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-4">
                                <button id="btnNuevo" class="btn btn-info" v-on:click.prevent="Nuevo">Nuevo</button>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-4">
                                <button id="btnGrabar" class="btn btn-success" v-on:click.prevent="Grabar" disabled>Grabar</button>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-4">
                                <button id="btnCancelar" class="btn btn-warning" v-on:click.prevent="Cancelar">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="white-box p-l-20 p-r-20">
            <div class="col-md-12">
                <form id="search" class="floating-labels">

                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <input class="form-control" type="text" id="TxtFiltro1" onkeyup="Filtrar1()" placeholder="Buscar por código.."><span class="highlight"></span> <span class="bar"></span>
                        <span class="glyphicon glyphicon-search form-control-feedback t-0"></span>
                    </div>



                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <input class="form-control" type="text" id="TxtFiltro2" onkeyup="Filtrar2()" placeholder="Buscar por Nombre.."><span class="highlight"></span> <span class="bar"></span>
                        <span class="glyphicon glyphicon-search form-control-feedback t-0"></span>
                    </div>
                </form>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td width="20%">Código Sistema</td>
                        <td width="60%">Sistema</td>
                    </tr>
                </thead>
            </table>
                <table class="table table-hover" id="tableSistema" ref="#tableSistema">
                    <tbody id="tableSistematbody">
                        <tr class="header" v-for="Sistema in list.Sistemas" :key="list.Sistemas.ID_tb_Sistema_Mant">
                            <td width="20%">{{ Sistema.ID_tb_Sistema_Mant }}</td>
                            <td width="60%">{{ Sistema.Descripcion }}</td>

                            <td width="10%">
                                <a href="#" class="btn btn-warning btn-sm" v-on:click.prevent="ListSistema(ID_tb_Sistema_Mant)">Editar</a>
                            </td>
                            <td width="10%">
                                <a href="#" class="btn btn-danger btn-sm" v-on:click.prevent="DelSistema(ID_tb_Sistema_Mant)">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
</div>
    </div>





<!-- /.row -->
<!-- .row -->




@section scripts{

    <script src="~/wwwroot/js/Vue/Views/Sistemas.js"></script>
}
