<!-- sample modal content -->
<div id="appTareasPendientes" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="app" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" @@click="close(1)" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title" id="app">.: Tareas Pendientes :.</h4>
            </div>
            <div class="modal-body" style="padding-top:5px;">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="table-responsive">
                            <table class="table table-fixed" id="tableBus" ref="#tableBus">
                                <thead>
                                    <tr class="advanced-table active">
                                        <td colspan="2">Lista de Buses</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="header" v-for="Bus in list.Buses">
                                        <td width="80%" align="center">
                                            <a href="#" v-on:click.prevent="ListTareasPendientes(Bus.IdUnidad)">{{ Bus.IdUnidad }}</a>
                                            {{ Bus.BusPlaca }}
                                        </td>
                                        <td width="20%" align="center">
                                            <button type="button" v-on:click.prevent="VerImprimirPreventivo(Bus.IdUnidad,Bus.Codi_Programacion)" title="Imprimir" class="btn btn-info btn-outline btn-circle btn-sm m-r-5"><i class="ti-printer"></i></button>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div style="overflow-x:auto;">
                            <table class="table table-fixed" id="tableTareas" ref="#tableTareas">
                                <thead>
                                    <tr class="advanced-table active">
                                        <td class="col-md-3" style="width:40%">Mtn. / Tarea</td>
                                        <td class="col-md-3" style="width:20%">km. Aviso / Recorrido</td>
                                        <td class="col-md-3" style="width:20%">Hs. / Recorrido</td>
                                        <td class="col-md-3" style="width:20%">Dias Aviso / Recorrido</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="height:90px" v-for="TareaPendiente in list.TareasPendientes">
                                        <td class="col-md-3" style="width:40%">{{ TareaPendiente.Descripcion }} / {{ TareaPendiente.DescripcionTarea }}</td>
                                        <td class="col-md-3" style="width:20%">{{ TareaPendiente.KmtAviso }} / {{ TareaPendiente.KmtActual }}</td>
                                        <td class="col-md-3" style="width:20%">{{ TareaPendiente.Horas }} / {{ TareaPendiente.HorasRecorrido }}</td>
                                        <td class="col-md-3" style="width:20%">{{ TareaPendiente.Dias }} / {{ TareaPendiente.DiasRecorrido }}</td>
                                    </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger waves-effect waves-light text-left" @@click="RedirectReport()">
                    <span class="glyphicon glyphicon-print fa-fw"></span>Imprimir
                </button>
                <button class="btn btn-default waves-effect waves-light text-left" @@click="close(1)">
                    <span class="glyphicon glyphicon-log-out fa-fw"></span>Cancelar
                </button>
            </div>
        </div>

    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal -->
<!-- /.row -->
<!-- .row -->