@using Mantenimiento.WebApp.Helpers;

@{
    ViewBag.Navigation = "Perfil";
    ViewBag.Title = "Index";
    var UsuarioActual = DataSession.UserLoggedIn;
}
    <div class="row bg-title">


        <div class="col-md-4 col-xs-12">

            <div class="white-box">
                <div class="user-bg">
                    <img alt="user" src="~/wwwroot/AmpleAdmin/plugins/images/large/img5.jpg">
                    <div class="overlay-box">
                        <div class="user-content">
                            <a href="javascript:void(0)"><img src="~/wwwroot/AmpleAdmin/plugins/images/user.png" class="thumb-lg img-circle" alt="img"></a>
                            <h4 class="text-white">@UsuarioActual.Nombre</h4>

                        </div>
                    </div>
                    <!--                             <div class="user-btm-box">
                                        <div class="col-md-4 col-sm-4 text-center">
                                            <p class="text-purple"><i class="ti-facebook"></i></p>
                                            <h1>258</h1> </div>
                                        <div class="col-md-4 col-sm-4 text-center">
                                            <p class="text-blue"><i class="ti-twitter"></i></p>
                                            <h1>125</h1> </div>
                                        <div class="col-md-4 col-sm-4 text-center">
                                            <p class="text-danger"><i class="ti-dribbble"></i></p>
                                            <h1>556</h1> </div>
                                    </div> -->
                </div>
            </div>
        </div>
 

        <div class="col-md-6 col-xs-12">
            <div class="white-box">
                <ul class="nav nav-tabs tabs customtab">

                    <!--                                 <li class="tab">
                                            <a href="#home" data-toggle="tab"> <span class="visible-xs"><i class="fa fa-home"></i></span> <span class="hidden-xs">Activity</span> </a>
                                        </li>
                                        <li class="tab">
                                            <a href="#profile" data-toggle="tab"> <span class="visible-xs"><i class="fa fa-user"></i></span> <span class="hidden-xs">Profile</span> </a>
                                        </li>
                                        <li class="tab">
                                            <a href="#messages" data-toggle="tab" aria-expanded="true"> <span class="visible-xs"><i class="fa fa-envelope-o"></i></span> <span class="hidden-xs">Messages</span> </a>
                                        </li> -->
                    <li class="active tab">
                        <a href="#settings" data-toggle="tab" aria-expanded="false"> <span class="visible-xs"><i class="fa fa-cog"></i></span> <span class="hidden-xs">Configuración</span> </a>
                    </li>
                </ul>
            </div>


            <div class="tab-content">
                <div class="white-box" id="appActualizapwd">
                    <div class="tab-pane active" id="settings">
                        <form class="form-horizontal form-material" ref="Actualizapwdform" id="Actualizapwdform" method="post" v-on:submit.prevent="actualizar" autocomplete="off">

                            <div class="form-group">
                                <label>Código de Usuario</label><br />
                                <label v-model="objUsuario.codiUsuario" ref="codiUsuario" index="Codigo" id="Codigo">@UsuarioActual.Codigo</label>
                            </div>


                            <div class="form-group">
                                <label>Nombre de Usuario</label><br />
                                <label>@UsuarioActual.Nombre</label>
                            </div>


                            <div class="form-group">
                                <label>Contraseña</label><br />
                            </div>


                            <div class="form-group">
                                <input class="form-control"
                                       v-model="objUsuario.Password"
                                       id="Contraseña"
                                       type="password"
                                       @@keypress.enter.prevent="Actualizapwd"
                                       ref="Password"
                                       placeholder="Contraseña">

                            </div>


                            <div class="form-group">
                                <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" ref="btnSubmit" type="submit" id="actualizapwd">Actualizar Contraseña</button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>


    </div>


@section scripts{
    <script type="text/javascript">

        $("#actualizapwd").click(function () {

        var codigo = document.getElementById('Codigo').innerHTML;
        var password = $("#Contraseña").val();

  var bool=confirm("¿Esta seguro de Actualizar su contraseña?");
            if (bool) {


 new Vue({
  el: '#appActualizapwd',
  data () {
    return {
      info: null
    }
  },
  mounted () {
     axios.post(getBaseUrl.obtenerUrlAbsoluta("Perfil/Actualizapwd"), { codiUsuario: codigo, password: password })
                                  .then(res => {
                                      if (res.data.Estado) {
                                   
                                    Notifications.Messages.success("CLAVE ACTUALIZADA");
                                    setTimeout(() => { this.$refs.loginform.submit(); }, 800);
                                   
                                } else if (res.data.tipoNotificacion) {
                                    ProcessMessage(res.data.tipoNotificacion, res.data.mensaje);
                                }

                                  })
      
  }
 }) 
          window.setTimeout(function(){location.reload()},1000)                         
  }else{
    alert("cancelo la solicitud");
         }
        });
    </script>
}
